.header{
  border-top-width: 0;
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  /* border-radius: 100%; */
}
.title{
  text-align: center;
  font-family: "Monsterrat";
  color: green;
}
.contact{
  text-align: center;
}