



/* ------------------------------------tags-------------------------------------- */
body {
/*  background-image: url("bgImage2.gif"); */
 background-position: center;
 background-repeat: repeat;
}













/* -----------------------------------class-------------------------------------- */
.index-body {
 background-image: url("bgImage2.gif");
 background-position: center;
 background-repeat: repeat;
}

.header {
  border-top-width: 0;
  border-style: none;
  border-top-style: dotted;
  border-color: black;
  border-width: 5px;
  /* border-radius: 100%; */
}
.title-main {
  font-size: 6rem;
  text-align: center;
  font-family: 'Staatliches', cursive;
  color: white;
  position: relative;
  left: 50%;
 transform: translate(-50%, 200%);
  background-color: black;
}
.contact {
  text-align: center;
  font-family: "Monsterrat";
}

.history-btn {
  text-align: center;
  /* font-family: "Monsterrat"; */
  position: absolute;
  top: 60%;
  left: 35%;
  transform: translate(-50%, -50%);
  background-color: black;
}
.types-btn {
    text-align: center;
  /* font-family: "Monsterrat"; */
  position: absolute;
  top: 60%;
  left: 65%;
  transform: translate(-50%, -50%);
  background-color: black;
}

.bg-font{
  background-color: black;
  color: white;
}
.title {
  font-weight: bold;
  text-align: center;
  font-family: "Monsterrat";
}
.about {
  text-align: center;
}

.nav-bar{
  background-color: black;
  border: 3px white;
  border-style:none none solid none;
}
/* -------------------------------------ID--------------------------------------- */

